body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.bimg-1 {
  background-image: url(daniel-sessler-fXs55Rgws9o-unsplash.jpg);
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.caption h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  background-color: rgb(73, 73, 73);
  padding: 20px;
  letter-spacing: 10px;
  color: white;
}
.bgimg-2 {
  background-image: url(ken-cheung-bmdh22AbY74-unsplash.jpg);
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.bgimg-3 {
  background-image: url(tonmoy-iftekhar-_ydVvIoA1RU-unsplash.jpg);
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.bgimg-4 {
  background-image: url(nikola-mihajloski-0w5mXuAuedk-unsplash.jpg);
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
